<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>firmararchivo</servlet-name>
        <servlet-class>firmararchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LLaves</servlet-name>
        <servlet-class>LLaves</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verificador</servlet-name>
        <servlet-class>Verificador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>firmararchivo</servlet-name>
        <url-pattern>/firmararchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LLaves</servlet-name>
        <url-pattern>/LLaves</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verificador</servlet-name>
        <url-pattern>/Verificador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
